# IDE and commons
*.iml
.idea/
*.tgz
.DS_Store

# Testing
test_config.json
.test_auth.json
.test/
/test-registry/

# Building
/.tags
vite.config.*.timestamp-*
.turbo
err.log
log/platforma.log
tmp/
**/node_modules/
**/dist/
dev/
work/