@scopes:registry=https://registry.npmjs.org/
//registry.npmjs.org/scopes/:_authToken=${milaboratories,platforma-sdk}
@tokenVar:registry=https://registry.npmjs.org/
//registry.npmjs.org/tokenVar/:_authToken=${NPMJS_TOKEN}
@scopes:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/scopes/:_authToken=${milaboratory}
@tokenVar:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/tokenVar/:_authToken=${NODE_AUTH_TOKEN}
