//registry.npmjs.org/:always-auth=true
//registry.npmjs.org/:_authToken=${NPMJS_TOKEN}
@milaboratories:registry=https://registry.npmjs.org/
@platforma-sdk:registry=https://registry.npmjs.org/
//npm.pkg.github.com/:always-auth=true
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@milaboratory:registry=https://npm.pkg.github.com/
