.pl-ag-column-header {
    cursor: pointer;
    width: 100%;
    overflow: hidden;

    .mask-16 {
        min-width: 16px;
    }

    span {
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__title {
        overflow: hidden;
    }

    &__type-icon {
        background-color: var(--ic-02);
    }

    &__menu-icon {
        transform: rotate(90deg);
        position: relative;
        line-height: 0;
    }
}