@use './base.scss';
@use './block.scss';

.alert-error {
  background-color: var(--txt-error);
  color: #fff;
  padding: 24px;
}

.pl-ag-header-align-center .ag-header-cell-label {
  justify-content: center;
}
