name: Build and Test NPM packages
on:
  merge_group:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - 'main'
  push:
    branches:
      - 'main'
  workflow_dispatch: {}
jobs:
  init:
    runs-on: ubuntu-latest
    steps:
      - uses: milaboratory/github-ci/actions/context/init@v4
        with:
          version-canonize: false
          branch-versioning: main
  run:
    needs:
      - init
    uses: milaboratory/github-ci/.github/workflows/node-simple-pnpm.yaml@v4
    with:
      app-name: Platforma SDK
      app-name-slug: 'platforma-sdk'
      gha-runner-label: 'dev-pl-sdk'
      node-version: '22.x'
      team-id: 'ci-010101'
      build-script-name: 'build:dev'
      build-before-publish-script-name: 'build'
      test: true
      test-coverage: true
      test-coverage-reports: >-
        etc/blocks/monetization-test/workflow/coverage/lcov.info,
        etc/uikit-playground/coverage/lcov.info,
        lib/model/common/coverage/lcov.info,
        lib/model/pl-error-like/coverage/lcov.info,
        lib/node/computable/coverage/lcov.info,
        lib/node/pf-driver/coverage/lcov.info,
        lib/node/pl-client/coverage/lcov.info,
        lib/node/pl-config/coverage/lcov.info,
        lib/node/pl-deployments/coverage/lcov.info,
        lib/node/pl-drivers/coverage/lcov.info,
        lib/node/pl-errors/coverage/lcov.info,
        lib/node/pl-http/coverage/lcov.info,
        lib/node/pl-middle-layer/coverage/lcov.info,
        lib/node/pl-tree/coverage/lcov.info,
        lib/node/ts-helpers/coverage/lcov.info,
        lib/other/biowasm-tools/coverage/lcov.info,
        lib/ptabler/js/coverage/lcov.info,
        lib/ui/uikit/coverage/lcov.info,
        lib/util/helpers/coverage/lcov.info,
        sdk/model/coverage/lcov.info,
        sdk/test/coverage/lcov.info,
        sdk/ui-vue/coverage/lcov.info,
        tests/block-repo/coverage/lcov.info,
        tests/config-local-ml-integration/coverage/lcov.info,
        tests/drivers-ml-blocks-integration/coverage/lcov.info,
        tests/helper/coverage/lcov.info,
        tests/workflow-tengo/coverage/lcov.info,
        tools/block-tools/coverage/lcov.info,
        tools/package-builder/coverage/lcov.info,
        tools/tengo-builder/coverage/lcov.info
      test-results-reports: >-
        etc/blocks/monetization-test/workflow/test-report.junit.xml,
        etc/uikit-playground/test-report.junit.xml,
        lib/model/common/test-report.junit.xml,
        lib/model/pl-error-like/test-report.junit.xml,
        lib/node/computable/test-report.junit.xml,
        lib/node/pf-driver/test-report.junit.xml,
        lib/node/pl-client/test-report.junit.xml,
        lib/node/pl-config/test-report.junit.xml,
        lib/node/pl-deployments/test-report.junit.xml,
        lib/node/pl-drivers/test-report.junit.xml,
        lib/node/pl-errors/test-report.junit.xml,
        lib/node/pl-http/test-report.junit.xml,
        lib/node/pl-middle-layer/test-report.junit.xml,
        lib/node/pl-tree/test-report.junit.xml,
        lib/node/ts-helpers/test-report.junit.xml,
        lib/other/biowasm-tools/test-report.junit.xml,
        lib/ptabler/js/test-report.junit.xml,
        lib/ui/uikit/test-report.junit.xml,
        lib/util/helpers/test-report.junit.xml,
        sdk/model/test-report.junit.xml,
        sdk/test/test-report.junit.xml,
        sdk/ui-vue/test-report.junit.xml,
        tests/block-repo/test-report.junit.xml,
        tests/config-local-ml-integration/test-report.junit.xml,
        tests/drivers-ml-blocks-integration/test-report.junit.xml,
        tests/helper/test-report.junit.xml,
        tests/workflow-tengo/test-report.junit.xml,
        tools/block-tools/test-report.junit.xml,
        tools/package-builder/test-report.junit.xml,
        tools/tengo-builder/test-report.junit.xml
      test-script-name: 'test'
      publish-to-public: 'true'
      pnpm-recursive-build: false
      pnpm-recursive-tests: false
      npmrc-config: |
        {
          "registries": {
            "https://registry.npmjs.org/": {
              "scopes": ["milaboratories", "platforma-sdk"],
              "tokenVar": "NPMJS_TOKEN"
            },
            "https://npm.pkg.github.com/": {
              "scopes": ["milaboratory"],
              "tokenVar": "NODE_AUTH_TOKEN"
            }
          }
        }
      env: |
        { "BODY_LIMIT": "1048576000" }
    secrets:
      env: |
        { "PL_LICENSE": ${{ toJSON(secrets.MI_LICENSE) }},
          "MI_LICENSE": ${{ toJSON(secrets.MI_LICENSE) }},
          "PL_CI_TEST_USER": ${{ toJSON(secrets.PL_CI_TEST_USER) }},
          "PL_CI_TEST_PASSWORD": ${{ toJSON(secrets.PL_CI_TEST_PASSWORD) }},

          "NPMJS_TOKEN": ${{ toJSON(secrets.NPMJS_TOKEN) }},
          "AWS_CI_IAM_MONOREPO_SIMPLE_ROLE": ${{ toJSON(secrets.AWS_CI_IAM_MONOREPO_SIMPLE_ROLE) }},
          "AWS_CI_TURBOREPO_S3_BUCKET": ${{ toJSON(secrets.AWS_CI_TURBOREPO_S3_BUCKET) }},

          "PL_REGISTRY_PLATFORMA_OPEN_UPLOAD_URL": ${{ toJSON(secrets.PL_REGISTRY_PLOPEN_UPLOAD_URL) }},
          "QUAY_USERNAME": ${{ toJSON(secrets.QUAY_USERNAME) }},
          "QUAY_ROBOT_TOKEN": ${{ toJSON(secrets.QUAY_ROBOT_TOKEN) }} }

      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      SLACK_CHANNEL: ${{ secrets.SLACK_PL_SDK_CHANNEL }}

      GH_ZEN_APP_ID: ${{ secrets.GH_ZEN_APP_ID }}
      GH_ZEN_APP_PRIVATE_KEY: ${{ secrets.GH_ZEN_APP_PRIVATE_KEY }}
