name: Test K8S Nightly (without cache)
on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch: {}
jobs:
  init:
    runs-on: ubuntu-latest
    steps:
      - uses: milaboratory/github-ci/actions/context/init@v4
        with:
          version-canonize: false
          branch-versioning: main
  run:
    needs:
      - init
    uses: milaboratory/github-ci/.github/workflows/node-simple-pnpm-k8s.yaml@v4-beta
    with:
      app-name: Platforma SDK Google Batch Int Tests
      app-name-slug: 'platforma-sdk-gcp'
      gha-runner-label: 'dev-gke'
      node-version: '22.x'
      pl-version: 'main'
      pnpm-build-command: '--filter "*/workflow-tengo*"'
      pnpm-test-command: '--filter="@platforma-sdk/workflow-tengo-tests" -- --maxConcurrency=20 --maxWorkers=10 --testTimeout=1800000 --no-cache'
      helm-release-name: 'ci-platforma-nightly-${{ github.run_id }}'
      helm-chart-values-file: 'helm/gcp/ci-nightly-tests.yaml'
      notify-slack: true
      namespace: 'dev-gke'
      npmrc-config: |
        {
          "registries": {
            "https://registry.npmjs.org/": {
              "scopes": ["milaboratories", "platforma-sdk"],
              "tokenVar": "NPMJS_TOKEN"
            },
            "https://npm.pkg.github.com/": {
              "scopes": ["milaboratory"],
              "tokenVar": "NODE_AUTH_TOKEN"
            }
          }
        }
      env: |
        { "BODY_LIMIT": "1048576000",
          "LONG_TEST_TIMEOUT": "30m",
          "TEST_CACHE_CRUTCH": "${{ github.sha }}-${{ github.run_id }}" }
    secrets:
      env: |
        { "PL_CI_TEST_USER": "testuser1",
          "PL_CI_TEST_PASSWORD": "testpassword1",

          "NPMJS_TOKEN": ${{ toJSON(secrets.NPMJS_TOKEN) }},
          "AWS_CI_IAM_MONOREPO_SIMPLE_ROLE": ${{ toJSON(secrets.AWS_CI_IAM_MONOREPO_SIMPLE_ROLE) }},
          "AWS_CI_TURBOREPO_S3_BUCKET": ${{ toJSON(secrets.AWS_CI_TURBOREPO_S3_BUCKET) }},

          "GCLOUD_CI_GKE_BUCKET_NAME": ${{ toJSON(secrets.GCLOUD_CI_GKE_BUCKET_NAME) }},
          "QUAY_USERNAME": ${{ toJSON(secrets.QUAY_USERNAME) }},
          "QUAY_ROBOT_TOKEN": ${{ toJSON(secrets.QUAY_ROBOT_TOKEN) }} }

      SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      SLACK_CHANNEL: ${{ secrets.SLACK_PL_SDK_CHANNEL }}
